# Ignore packed files
*.hak
*.mod
*.tlk

# Ignore the nasher directory
.nasher/

# Specific Formfiles (in development)
formfiles/nui_f_inspector.nss
formfiles/nuif_appedit.nss
formfiles/nuil_appedit_en.nss
formfiles/nuio_appedit.nss
