# Ignore packed files
*.hak
*.mod
*.tlk
*.erf

# Ignore the nasher directory
.nasher/

nasher.cfg

# Specific Formfiles (in development)
formfiles/appearance_editor
formfiles/portrait_viewer
formfiles/.test

/demo
