# Ignore packed files
*.hak
*.mod
*.tlk
*.erf

# Ignore the nasher directory
.nasher/

# Specific Formfiles (in development)
formfiles/form_inspector
formfiles/appearance_editor
formfiles/portrait_viewer
formfiles/.test

demo/
